[Unit]
Description = Enable change keyboard layout after resume

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/setxkbmap -model pc104 -layout us,ru -option grp:alt_shift_toggle
TimeoutSec=infinity

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
WantedBy=hibernate.target
